# Terraform local state and plugins
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl

# Sensitive variable files (The Smoking Guns)
**/*.tfvars
**/*.tfvars.json

# Ansible
**/ansible.log
**/vault_pass.txt

# System Files
.DS_Store
