# Terraform local state and plugins
# Ignore ALL terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Ignore ALL variable files (where you store passwords)
*.tfvars
*.tfvars.json

# Ignore the terraform binary folders
.terraform/


# Ignore the terraform binary folders
.terraform/

# Ansible
**/ansible.log
**/vault_pass.txt

# System Files
.DS_Store

#inventory
inventory.ini

# --- WireGuard Keys ---
# Never commit actual keys fetched or generated locally
privatekey
publickey
client_*.conf
*.key


# --- General ---
.env
/tmp/acme.json
/tmp/*.json