global_defs {
    enable_script_security
    script_user root
}

vrrp_script check_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == 'haproxy-01' else 'BACKUP' }}
    interface eth0
    virtual_router_id 51
    priority {{ 101 if inventory_hostname == 'haproxy-01' else 100 }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 42
    }
    virtual_ipaddress {
        10.10.10.200/24
    }
    track_script {
        check_haproxy
    }
}