services:
  watchtower-plex:
    image: containrrr/watchtower
    container_name: watchtower-plex
    logging: 
      driver: loki
      options:
        loki-url: "{{ loki_url }}"
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_CLEANUP=true

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    logging: 
      driver: loki
      options:
        loki-url: "{{ loki_url }}"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      - PUID={{ admin_uid }}
      - PGID={{ admin_gid }}
      - TZ={{ timezone }}
      - VERSION=docker
    volumes:
      - {{ plex_root }}/plex/config:/config
      - {{ plex_root }}/plex/config:/plex-logs:ro
      - {{ video_path }}/series:/tv
      - {{ video_path }}/movies:/movies
      - {{ video_path }}/whisparr:/whisparr
      - {{ music_path }}:/music
    restart: unless-stopped
