# ~/ansible/postgres-patroni/patroni-config.yml
cluster_settings:
  postgresql:
    parameters:
      password_encryption: scram-sha-256
      shared_preload_libraries: pglogical
      ssl: 'on'
      ssl_cert_file: /var/lib/postgresql/18/main/server.crt
      ssl_key_file: /var/lib/postgresql/18/main/server.key
      wal_level: logical
      max_connections: 100
      shared_buffers: "2GB"
    pg_hba:
      - local   all             all                                     scram-sha-256
      - host    all             all             127.0.0.1/32            scram-sha-256
      - host    all             all             ::1/128                 scram-sha-256
      - host    all             postgres        0.0.0.0/0               scram-sha-256
      - host    replication     postgres        0.0.0.0/0               scram-sha-256
      - hostssl all             pacs            10.10.10.0/24           scram-sha-256
      - host    all             terraform       10.10.10.0/24           scram-sha-256
      - hostssl airflow         airflow         10.10.10.0/24           scram-sha-256
      - host    vitals          vitals          10.10.10.0/24           scram-sha-256