[maxscale]
threads=auto

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=mariadb-01,mariadb-02,mariadb-03
user=pacs
password={{ pacsdb_password }}
monitor_interval=2s

[mariadb-01]
type=server
address=10.10.10.41
port=3306
protocol=MariaDBBackend

[mariadb-02]
type=server
address=10.10.10.42
port=3306
protocol=MariaDBBackend

[mariadb-03]
type=server
address=10.10.10.43
port=3306
protocol=MariaDBBackend

[pacs-service]
type=service
router=readwritesplit
servers=mariadb-01,mariadb-02,mariadb-03
user=pacs
password={{ pacsdb_password }}
master_accept_reads=false
max_slave_replication_lag=60s

[pacs-listener]
type=listener
service=pacs-service
protocol=MariaDBClient
port=3306
ssl=off