cluster_settings:
  postgresql:
    parameters:
      password_encryption: scram-sha-256
      shared_preload_libraries: pglogical
      ssl: 'off'
      wal_level: logical
      max_connections: 100
      shared_buffers: "2GB"
    pg_hba:
      - local   all             all                                     trust
      - host    replication     replicator     127.0.0.1/32            scram-sha-256
      - host    all             all             100.64.0.0/10           scram-sha-256
      - host    all             all             100.64.0.0/10           scram-sha-256
      - host    all             all             10.10.10.0/24           scram-sha-256
      - host    all             all             127.0.0.1/32            scram-sha-256
      - host    all             postgres        0.0.0.0/0               scram-sha-256