---
- name: Fresh Deployment of HAProxy Cluster
  hosts: haproxy
  become: yes
  tasks:
    - name: 1. Install System Dependencies
      apt:
        name: [haproxy, keepalived, socat, curl, psmisc]
        state: present
        update_cache: yes

    - name: 2. Install Tailscale Binary
      shell: |
        curl -fsSL https://tailscale.com/install.sh | sh
      args:
        creates: /usr/bin/tailscale

    - name: 3. Allow Non-Local IP Binding
      sysctl:
        name: net.ipv4.ip_nonlocal_bind
        value: '1'
        state: present
        reload: yes

    - name: 4. Deploy HAProxy Config
      copy:
        dest: /etc/haproxy/haproxy.cfg
        content: |+
          global
              log /dev/log local0
              stats socket /run/haproxy.sock mode 660 level admin
              user haproxy
              group haproxy

          defaults
              log global
              mode tcp
              option tcplog
              timeout connect 5s
              timeout client 3h
              timeout server 3h

          listen postgres_cluster
              bind *:5432
              mode tcp
              option httpchk
              http-check send meth GET uri /leader
              http-check expect status 200
              {% for host in groups['databases'] %}
              server {{ host }} {{ hostvars[host]['ansible_host'] }}:5432 check port 8008 inter 2s fall 3 rise 2
              {% endfor %}

          listen stats
              bind *:8404
              mode http
              stats enable
              stats uri /stats

    - name: 5. Deploy Keepalived Config
      template:
        src: templates/keepalived.conf.j2
        dest: /etc/keepalived/keepalived.conf

    - name: 6. Start HAProxy Service
      service:
        name: haproxy
        state: restarted
        enabled: yes

    - name: 7. Start Keepalived Service
      service:
        name: keepalived
        state: restarted
        enabled: yes

    - name: 8. Initialize Tailscale Identity
      shell: |
        tailscale logout || true
        rm -rf /var/lib/tailscale/tailscaled.state
        systemctl restart tailscaled
        tailscale up --authkey=tskey-auth-kicUVgwXeq11CNTRL-UUcb6kRiE5GoZYgyhfHX4G7dVagraPKJ --hostname={{ inventory_hostname }} --advertise-routes=10.10.10.200/32 --reset