networks:
  docker_media_network:
    name: docker_media_network
    driver: bridge
  traefik_proxy:
    external: true

x-loki-logging: &loki-logging
  driver: loki
  options:
    loki-url: "{{ loki_url }}"
    loki-retries: 2
    loki-max-backoff: 800ms
    loki-timeout: 1s
    keep-file: "true"
    mode: "non-blocking"

services:
  watchtower-media:
    image: containrrr/watchtower
    container_name: watchtower-media
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ={{ timezone }}
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 19 * * *

  jackett:
    image: linuxserver/jackett:latest
    logging: *loki-logging
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    container_name: jackett
    environment:
      - TZ={{ timezone }}
    ports:
      - 9117:9117
    volumes:
      - "{{ app_data_root }}/jackett/config:/config"
    restart: unless-stopped
    networks:
      - docker_media_network
      - traefik_proxy

  lidarr:
    image: linuxserver/lidarr:latest
    logging: *loki-logging
    container_name: lidarr
    environment:
      - TZ={{ timezone }}
      - PUID={{ admin_uid }}
      - PGID={{ admin_gid }}
      - LIDARR__POSTGRES__HOST={{ postgres_host }}
      - LIDARR__POSTGRES__PORT=5432
      - LIDARR__POSTGRES__USER=lidarr
      - LIDARR__POSTGRES__PASSWORD={{ media_db_pass }}
      - LIDARR__POSTGRES__MAINDB=lidarr_main
      - LIDARR__POSTGRES__LOGDB=lidarr_log
    ports:
      - 8686:8686
    volumes:
      - "{{ app_data_root }}/lidarr/config:/config"
      - "{{ download_path }}:/downloads"
      - "{{ music_path }}:/music"
    restart: unless-stopped
    networks:
      - docker_media_network
      - traefik_proxy

  radarr:
    image: linuxserver/radarr:latest
    logging: *loki-logging
    container_name: radarr
    environment:
      - TZ={{ timezone }}
      - PUID={{ admin_uid }}
      - PGID={{ admin_gid }}
      - RADARR__POSTGRES__HOST={{ postgres_host }}
      - RADARR__POSTGRES__PORT=5432
      - RADARR__POSTGRES__USER=radarr
      - RADARR__POSTGRES__PASSWORD={{ media_db_pass }}
      - RADARR__POSTGRES__MAINDB=radarr_main
      - RADARR__POSTGRES__LOGDB=radarr_log
    ports:
      - 7878:7878
    volumes:
      - "{{ app_data_root }}/radarr/config:/config"
      - "{{ download_path }}/Movies:/downloads/Movies"
      - "{{ video_path }}/Movies:/video/Movies"
    restart: unless-stopped
    networks:
      - docker_media_network
      - traefik_proxy

  sonarr:
    image: linuxserver/sonarr:latest
    logging: *loki-logging
    container_name: sonarr
    environment:
      - TZ={{ timezone }}
      - PUID={{ admin_uid }}
      - PGID={{ admin_gid }}
      - SONARR__POSTGRES__HOST={{ postgres_host }}
      - SONARR__POSTGRES__PORT=5432
      - SONARR__POSTGRES__USER=sonarr
      - SONARR__POSTGRES__PASSWORD={{ media_db_pass }}
      - SONARR__POSTGRES__MAINDB=sonarr_main
      - SONARR__POSTGRES__LOGDB=sonarr_log
    ports:
      - 8989:8989
    volumes:
      - "{{ app_data_root }}/sonarr/config:/config"
      - "{{ download_path }}/Series:/downloads/Series"
      - "{{ video_path }}/series:/video/Series"
    restart: unless-stopped
    networks:
      - docker_media_network
      - traefik_proxy

  youtubedl:
    image: tzahi12345/youtubedl-material
    container_name: youtubedl
    environment:
      - PUID={{ admin_uid }}
      - PGID={{ admin_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ app_data_root }}/youtubedl/appdata:/app/appdata"
      - "{{ app_data_root }}/youtubedl/subscriptions:/app/subscriptions"
      - "{{ app_data_root }}/youtubedl/users:/app/users"
      - "{{ music_path }}:/app/audio"
      - "{{ video_path }}/Music:/app/video"
    ports:
      - 8084:17442
    restart: unless-stopped
    networks:
      - docker_media_network
      - traefik_proxy

  nzbget:
    image: "linuxserver/nzbget:latest"
    container_name: nzbget
    environment:
      - PUID=0
      - PGID=0
      - TZ={{ timezone }}
    ports:
      - "6789:6789/tcp"
    volumes:
      - "{{ app_data_root }}/nzbget/config:/config"
      - "{{ download_path }}:/downloads"
    restart: unless-stopped
    networks:
      - docker_media_network
      - traefik_proxy